@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Nie pamiętasz hasła?";
    Layout = "~/Views/Shared/_LoginPageLayout.cshtml";
}
<div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-12">
        <div class="col-sm-12 col-md-6 col-md-offset-3 content-window">
            <h2 class="text-center page-header">@ViewData["Title"]</h2>
            <section>
                <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
                    <div class="col-md-12">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10">
                            <input asp-for="Email" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Email)" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10">
                            <button type="submit" class="btn btn-block">Wyślij</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
