@{
    ViewData["Title"] = "Blokada konta";
}

<header>
    <h1 class="text-danger">Twoje konto zostało zablokowane!</h1>
    <p class="text-danger">Spróbuj ponownie później, bądź skontaktuj się z administratorem portalu</p>
</header> 
