<html>
<body style="background-color: #f3f3f3; font-family: Verdana">
    <div style="margin: 20px auto; padding: 10px; width: 80%; background-color: #ffffff; border-bottom: 2px solid #73738b">
        <div style="text-align: center;">
            <h1 style="color: #333">Weryfikacja adresu email - SKNManager</h1>
        </div>
        <p>Aby zakończyć proces zmiany adresu email <a href="{Url}" style="color: #99f; text-decoration: none; font-weight: bold;">kliknij tutaj</a>.</p>
    </div>
</body>
</html>