@{
    ViewData["Title"] = "Strona główna";
}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="col-sm-12 col-md-12 content-window">
            <h1 class="page-header">Strona główna</h1>
            <p>
                Witaj na stronie głównej systemu <b>SKNManager</b> - nowoczesnego narzędzia do zarządzania kołem naukowym.
            </p>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="col-sm-12 col-md-12 content-window">
            <h1 class="page-header">Informacje</h1>
            <p>
                <ul class="list-group">
                    <li class="list-group-item borderless"><b>Nazwa koła:</b> Studenckie Koło Naukowe "NEO"</li>
                    <li class="list-group-item borderless"><b>Liczba zarejestrowanych członków koła naukowego:</b> 8</li>
                    <li class="list-group-item borderless"><b>Przewodniczący koła:</b> Paweł Milan</li>
                    <li class="list-group-item borderless"><b>Wiceprzewodniczący:</b> Mirosław Sondej</li>
                    <li class="list-group-item borderless"><b>Sekretarz:</b> Piotr Szubra</li>
                    <li class="list-group-item borderless"><b>Skarbnik:</b> Piotr Pilch</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="col-sm-12 col-md-12 content-window">
            <h1 class="page-header">Statystyki</h1>
            <p>
                <ul class="list-group">
                    <li class="list-group-item borderless"><b>Łączna liczba projektów:</b> 12</li>
                    <li class="list-group-item borderless"><b>Liczba projektów w realizacji:</b> 3</li>
                    <li class="list-group-item borderless"><b>Liczba sztuk wyposażenia:</b>25</li>
                    <li class="list-group-item borderless"><b>Ilość zestawów wyposażenia:</b> 2</li>
                    <li class="list-group-item borderless"><b>Aktualna ilość otwartych wypożyczeń:</b> 1</li>
                    <li class="list-group-item borderless"><b>Najbliższe nadchodzace wydarzenie:</b> Karpackie Klimaty 2017 (od 2017-08-18 do 2017-08-20)</li>
                </ul>
            </p>
        </div>
    </div>
</div>