@{
    ViewData["Title"] = "Strona główna";
}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="col-sm-12 col-md-12 content-window">
            <h1 class="page-header">Strona główna</h1>
            <p>
                Test
            </p>
        </div>
    </div>
</div>