@using System.Collections.Generic
@using SKNManager.Models.MemberViewModels
@*@model Tuple<AddMemberViewModel, InviteMemberViewModel>*@

@{
    ViewData["Title"] = "Dodaj członka";
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="col-sm-12 col-md-12 content-window">
            <h2 class="text-center page-header">@ViewData["Title"]</h2>
            <p class="text-center">
                <h4 class="text-center">Zaproś nowego użytkownika</h4>
                @{ Html.RenderPartial("InviteFormPartial.cshtml");  }
            </p>
        </div>
    </div>
</div>
