@using System.Collections.Generic
@using SKNManager.Models.MemberViewModels
@*@model Tuple<AddMemberViewModel, InviteMemberViewModel>*@

@{
    ViewData["Title"] = "Dodaj członka";
}

<div class="container">
    <h2>Dodaj członka</h2>
    <hr />

    <div class="col-md-12">
        <h4>Dodaj istniejącego użytkownika</h4>
        @{ Html.RenderPartial("AddFormPartial.cshtml");  }
    </div>
    <div class="col-md-12">
        <h4>Zaproś nowego użytkownika</h4>
        @{ Html.RenderPartial("InviteFormPartial.cshtml");  }    
    </div>
</div>

