@{
}
<a class="list-group-item active" href="@Url.Action("Index", "Home")">Strona główna</a>
<a class="list-group-item" href="@Url.Action("Index", "Member")">Członkowie koła</a>
<a class="list-group-item" href="">Kalendarz wydarzeń</a>
<a class="list-group-item" href="@Url.Action("Index", "Project")">Projekty</a>
<a class="list-group-item" href="">Wyposażenie koła</a>
<a class="list-group-item" href="">Wypożyczenia</a>
<a class="list-group-item" href="">Listy zakupowe</a>