@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Błąd";

    if (!User.Identity.IsAuthenticated) {
        Layout = "~/Views/Shared/_LoginPageLayout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-12">
        <div class="col-sm-12 col-md-6 col-md-offset-3 content-window">
            <h2 class="text-center page-header">@ViewData["Title"]</h2>
            <p class="text-center text-danger">
                Wystąpił błąd podczas przetwarzania żądania
            </p>
        </div>
    </div>
</div>

@*
<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
</p>*@
